<Layouts.flash_group flash={@flash} />
<table>
  <%= for guild <- @guilds do %>
    <tr>
      <td><.link href={~p"/#{guild.id}"}>{guild.name}</.link></td>
    </tr>
  <% end %>
</table>

<form id="add_guild" phx-submit="add_guild">
  <input type="text" name="guild_id" />
  <button>Add guild</button>
</form>

<div>
  <%= for item <- @queue do %>
    <div>{inspect(item)}</div>
  <% end %>
</div>
